
@font-face {
  font-family: "Droid Sans Mono";
  src: url('../fonts/DroidSansMono.eot');
  src: url('../fonts/DroidSansMono.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DroidSansMono.woff') format('woff'),
  url('../fonts/DroidSansMono.ttf') format('truetype'),
  url('../fonts/DroidSansMono.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}